# =========================
# Build / Compilação
# =========================
build/
bin/
cmake-build-*/

# Arquivos gerados pelo CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# =========================
# Binários / Objetos
# =========================
*.o
*.obj
*.so
*.a
*.out
*.exe

# Executáveis específicos
game_compiled

# Dependências (Makefile)
*.d

# =========================
# CLion / IDEs
# =========================
.idea/
.vscode/

# =========================
# Arquivos temporários
# =========================
*.swp
*.swo
*.bak
*~

# =========================
# Sistema operacional
# =========================
# Mac
.DS_Store

# Linux
*.log

# =========================
# Outros (opcional)
# =========================
# Se usar testes compilados
tests/*.out
